@import "tailwindcss";
@import "tw-animate-css";

:root {
  --dark: #191919;
  --light-grey: #f4f4f5;
  --mid-grey: #606060;
  --semi-grey: #919191;
  --deep-grey: #3d3d3d;
  --dark-grey: #18181b;
  --error-main: #f04438;
}

@theme {
  /* color */
  --color-dark: var(--dark);
  --color-light-grey: var(--light-grey);
  --color-mid-grey: var(--mid-grey);
  --color-semi-grey: var(--semi-grey);
  --color-deep-grey: var(--deep-grey);
  --color-dark-grey: var(--dark-grey);
  --color-error-main: var(--error-main);

  /* font */
  --font-dm-sans: var(--font-dm-sans);
}

.rdp-root {
  --rdp-accent-color: #969696; /* Change the accent color to indigo. */
  --rdp-accent-background-color: #0d0d0d; /* Change the accent background color. */
  --rdp-today-color: blue;
}
